<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>www.lofter.com/art?</title>
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/common.js"></script>
	<link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.css">
	<script src="../bootstrap-3.3.7/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/art.css">
	<script type="text/javascript" src="../js/art.js"></script>
</head>
<body>
	<header>
		<a href="#"><img src="../img/art/logo.png" alt="logo"></a>
		<span><a href="#">框画</a></span>
		<span><a href="#">明信片</a></span>
		<span><a href="#">购物车(0)</a></span>
		<span>
			<a href="#">我的ART
			</a>
			<ul class="header-ul" style="display: none;">
				<li><a href="">销售记录</a></li>
				<li><a href="">商品管理</a></li>
				<li><a href="">关于ART</a></li>
				<li><a href="">退出登录</a></li>
				<li><a href="">LOFTER</a></li>
			</ul>
		</span>
	</header>
	<main>
		<div class="turning">
			<div id="myCarousel" class="carousel slide">  
		        <div class="carousel-inner">  
		            <div class="item active bg-photo odd"> 
		            	<div class="item-odd-left">
							<a href=""><img src="../img/art/1.jpg" alt=""></a>
		            	</div>
		            	<div class="item-odd-right">
		            		<h1><a href="#">《The fog rainart》</a></h1>
		            		<span>作者 :&nbsp;&nbsp;小河五一</span>
		            		<span>爱情</span>
		                	<img src="../img/art/6.png" alt="0.0.0" />  
		            	</div> 
		            </div>  
		            <div class="item">  
						<div class="item-even-left even">
							<a href="#">《荒原之心 <br/> PATAGOING》</a>
							<p>作者 : 一空之间 老飘飘的阴暗面</p>
							<p>PATAGONIA的荒原将视野和心力延伸到了南美大陆的边缘。最美的风景，留给愿意独行的那一个人。</p>
						</div>
						<div class="item-even-right">
							<a href="#"><img src="../img/art/4.png" alt="0.0.0"></a>
							<a href="#"><img src="../img/art/3.jpg" alt="0.0.0"></a>
						</div>
		            </div>  
		            <div class="item bg-photo odd"> 
		            	<div class="item-odd-left">
							<a href=""><img src="../img/art/2.jpg" alt=""></a>
		            	</div>
		            	<div class="item-odd-right">
		            		<h1><a href="#">《花》</a></h1>
		            		<span>作者 :&nbsp;&nbsp;H Z</span>
		            		<span>花</span>
		                	<img src="../img/art/6.png" alt="0.0.0" />  
		            	</div>  
		            </div>    
		            <div class="item">  
		                <div class="item-even-left even">
							<a href="#">《我与我的喵星人 <br/>（二）》</a>
							<p>作者 : Kwok·untitle</p>
							<p>《我与我的喵星人（二）》</p>
						</div>
						<div class="item-even-right">
							<a href="#"><img src="../img/art/4.png" alt="0.0.0"></a>
							<a href="#"><img src="../img/art/5.jpg" alt="0.0.0"></a>
						</div>
		            </div>  
		        </div> 
		        <ol class="carousel-indicators">  
		            <li data-target="#myCarousel" data-slide-to="0" class="active"> </li>  
		            <li data-target="#myCarousel" data-slide-to="1"> </li>  
		            <li data-target="#myCarousel" data-slide-to="2"> </li> 
		            <li data-target="#myCarousel" data-slide-to="3"> </li>  
		        </ol>   
			</div>
			<script type="text/javascript">
				$("#myCarousel").carousel({  
			           interval :5000,  
			       }); 
			</script>
		</div>
		<div class="art-photo">
			<div class="art-iframe">
				<span>框画</span>
				<div class="iframe-pic">
					<div class="iframe-item">
						<div class="img for">
							<a href="#">
								<img src="../img/art/art-iframe/1.jpg" alt="0.0.0">
								<div class="border"></div>
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《陪伴是最长情的告...</a></p>
							<p><a href="#">儿童插画师-MO...</a></p>
						</div>
					</div>					
					<div class="iframe-item">
						<div class="img for">
							<a href="#">
								<img src="../img/art/art-iframe/2.jpg" alt="0.0.0">
								<div class="border"></div>
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《等待》</a></p>
							<p><a href="#">五点</a></p>
						</div>
					</div>	
					<div class="iframe-item">
						<div class="img for">
							<a href="#">
								<img src="../img/art/art-iframe/3.jpg" alt="0.0.0">
								<div class="border"></div>
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《初生》</a></p>
							<p><a href="#">Lylean Lee</a></p>
						</div>
					</div>	
					<div class="iframe-item">
						<div class="img for">
							<a href="#">
								<img src="../img/art/art-iframe/4.jpg" alt="0.0.0">
								<div class="border"></div>
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《这是什么鬼》</a></p>
							<p><a href="#">YooTu</a></p>
						</div>
					</div>					
					<div class="iframe-item">
						<div class="img for">
							<a href="#">
								<img src="../img/art/art-iframe/5.jpg" alt="0.0.0">
								<div class="border"></div>
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《甜蜜生活》</a></p>
							<p><a href="#">H Z</a></p>
						</div>
					</div>					
					<div class="iframe-item">
						<div class="img for">
							<a href="#">
								<img src="../img/art/art-iframe/6.jpg" alt="0.0.0">
								<div class="border"></div>
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《蛾与花》</a></p>
							<p><a href="#">桑君🐋</a></p>
						</div>
					</div>	
					<div class="iframe-item">
						<div class="img for">
							<a href="#">
								<img src="../img/art/art-iframe/7.jpg" alt="0.0.0">
								<div class="border"></div>
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《猜火车》</a></p>
							<p><a href="#">小狐狸阿权</a></p>
						</div>
					</div>	
					<div class="iframe-item">
						<div class="img for">
							<a href="#">
								<img src="../img/art/art-iframe/8.jpg" alt="0.0.0">
								<div class="border"></div>
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《Sis》</a></p>
							<p><a href="#">Lylean Lee</a></p>
						</div>
					</div>
				</div>
				<div class="lookmore">
					查看更多 >>	
				</div>
				<div class="line"></div>
			</div>
			<div class="art-postcard"></div>

			<!-- -================================= -->
			<div class="art-iframe">
				<span>明信片</span>
				<div class="iframe-pic">
					<div class="iframe-item">
						<div class="img">
							<a href="#">
								<img src="../img/art/art-iframe/1.jpg" alt="0.0.0">
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《陪伴是最长情的告...</a></p>
							<p><a href="#">儿童插画师-MO...</a></p>
						</div>
					</div>					
					<div class="iframe-item">
						<div class="img">
							<a href="#">
								<img src="../img/art/art-iframe/2.jpg" alt="0.0.0">
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《等待》</a></p>
							<p><a href="#">五点</a></p>
						</div>
					</div>	
					<div class="iframe-item">
						<div class="img">
							<a href="#">
								<img src="../img/art/art-iframe/3.jpg" alt="0.0.0">
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《初生》</a></p>
							<p><a href="#">Lylean Lee</a></p>
						</div>
					</div>	
					<div class="iframe-item">
						<div class="img">
							<a href="#">
								<img src="../img/art/art-iframe/4.jpg" alt="0.0.0">
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《这是什么鬼》</a></p>
							<p><a href="#">YooTu</a></p>
						</div>
					</div>					
					<div class="iframe-item">
						<div class="img">
							<a href="#">
								<img src="../img/art/art-iframe/5.jpg" alt="0.0.0">
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《甜蜜生活》</a></p>
							<p><a href="#">H Z</a></p>
						</div>
					</div>					
					<div class="iframe-item">
						<div class="img">
							<a href="#">
								<img src="../img/art/art-iframe/6.jpg" alt="0.0.0">
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《蛾与花》</a></p>
							<p><a href="#">桑君🐋</a></p>
						</div>
					</div>	
					<div class="iframe-item">
						<div class="img">
							<a href="#">
								<img src="../img/art/art-iframe/7.jpg" alt="0.0.0">
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《猜火车》</a></p>
							<p><a href="#">小狐狸阿权</a></p>
						</div>
					</div>	
					<div class="iframe-item">
						<div class="img">
							<a href="#">
								<img src="../img/art/art-iframe/8.jpg" alt="0.0.0">
							</a>
						</div>
						<div class="txt">
							<p><a href="#">《Sis》</a></p>
							<p><a href="#">Lylean Lee</a></p>
						</div>
					</div>
				</div>
				<div class="lookmore">
					查看更多 >>	
				</div>
				<div class="line"></div>
			</div>
			<div class="art-postcard"></div>
		</div>
	</main>
	<footer>
		<iframe src="./footerOne.html" marginheight="0" marginwidth="0" frameborder="0" width="100%" height="100%" name="footer"></iframe>
	</footer>
</body>
</html>