<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title></title>
	<script src="../js/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.css">
	<script src="../bootstrap-3.3.7/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/coursephoto.css">
	<script type="text/javascript" src="../js/photograph.js"></script>
	<script type="text/javascript" src="../js/coursephoto.js"></script>
</head>
<body>
	<header>
		<abbr title="LOFTER 摄影课堂">
			<a href="./photograph.html">
				<img src="../img/coursephoto/logo.png" alt="">
			</a>
		</abbr>
	</header>
	<main>
		<div class="nav">
			<span><a href="./photograph.html">摄影课堂首页</a></span>
			<ul>
				<li><a href=""><i>1</i>你怎么不上天啊</a></li>
				<li><a href=""><i>2</i>脚下的另一个世界</a></li>
				<li><a href=""><i>3</i>焦点之外</a></li>
				<li><a href=""><i>4</i>只需要一个眼神</a></li>
				<li style="background:#888;"><a href=""><i>5</i>熊孩子日记</a></li>
				<li><a href=""><i>6</i>身边的外星人</a></li>
				<li><a href=""><i>7</i>我们都是背景控</a></li>
				<li><a href=""><i>8</i>雨后的世界</a></li>
				<li><a href=""><i>9</i>拍着拍着就花痴啦</a></li>
				<li><a href=""><i>10</i>在路上</a></li>
			</ul>
		</div>
		<div class="arrowtop">
			<i class="glyphicon glyphicon-circle-arrow-up"></i>
		</div>
		<div class="photo">
			<div class="special">
				<img src="../img/coursephoto/1.jpg" alt="">
				<p>孩子的天真可爱是上天赐予我们最大的礼物。只有了解孩子的天性，像朋友一样去拍摄他们才能拍得自然。头图来自：李小蕾 RED</p>
				<div class="bottom">
					课堂完成条件：<i class="glyphicon glyphicon-heart"></i> x 30
				</div>
			</div>
			<div class="item">
				<p>1.学会与孩子互动，与他们一起玩游戏。在嬉戏的过程中拍摄可以让孩子们展现自然的一面。</p>
				<p>2.孩子的笑容、恶搞表情都可以成为很棒的拍摄题材。</p>
				<p>3.好动是孩子的天性，因此可以使用连拍模式拍摄。</p>
				<p>图示</p>
				<img src="../img/coursephoto/2.jpg" alt="">
				<p>LOFTER作者：<a href="">一悦。 ones</a></p>
				<img src="../img/coursephoto/3.jpg" alt="">
				<p>LOFTER作者：<a href="">海螺壳Azeros</a></p>
				<img src="../img/coursephoto/4.jpg" alt="">
				<p>LOFTER作者：<a href="">owen-sydney</a></p>
			</div>
			<div class="radius">
				<a href="#">发图挑战本课程
					<div class="radius-color"></div>
				</a>
			</div>
		</div>
		<div class="works-img">
			<p>优秀作品</p>
			<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/coursephoto/5.jpg" alt="">
			</a>			
			<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/coursephoto/6.jpg" alt="">
			</a>			
			<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/coursephoto/7.jpg" alt="">
			</a>			
			<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/coursephoto/8.jpg" alt="">
			</a>				
			<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/coursephoto/9.jpg" alt="">
			</a>				
			<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/coursephoto/10.jpg" alt="">
			</a>				
			<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/coursephoto/11.jpg" alt="">
			</a>				
			<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/coursephoto/12.jpg" alt="" style="width: 345px;">
			</a>				
			<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/coursephoto/13.jpg" alt="">
			</a>				
			<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/coursephoto/14.jpg" alt="">
			</a>			
		</div>	
	</main>
</body>
</html>