<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>www.lofter.com</title>
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/common.js"></script>
	<link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.css">
	<script src="../bootstrap-3.3.7/js/bootstrap.js"></script>
	<link rel="stylesheet" href="../css/index.css">
	<!-- if link bootstrap document firstly, the css document does't work -->
</head>
<body>
	<nav>
		<img src="../img/index/1.png" alt="website-logo">
		<ul class="nav-ul">
			<li><a href="./index.html" style="color:white;">首页</a></li>
			<li><a href="./view.html">浏览</a></li>
			<li><a href="./app.html">APP</a></li>
			<li><a href="./art.html" target="_blank">ART</a></li>
			<li><a href="./photograph.html">摄影课堂</a></li>
		</ul>
		<a href="" class="nav-a-ul A">更多<i class="glyphicon glyphicon-triangle-bottom"></i>
				<ul class="nav-a-ul-second" id="B">
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>账号设置</a></li>
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>寻找好友</a></li>
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>导入导出</a></li>
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>移动客户端</a></li>
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>LOFTCam-用心创造滤镜</a></li>
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>UAPP-创建个人中心</a></li>
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>帮助和反馈</a></li>
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>退出</a></li>
			</ul>
		</a>
		<div class="navRight">
			<form action="">
				<a href="" class="glyphicon glyphicon-search"></a>
				<label for="label-input"></label>
				<input type="text" id="label-input" placeholder="搜索标签，人" size="24">
				<div class="new">new</div>
			</form>
			<div class="triangle glyphicon glyphicon-triangle-top"></div>
			<div class="navRight-form">
				<div class="subscribe-news">
					<div class="newsTitle">
						我的订阅
					</div>
					<ul>
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="recommend-news">
					<div class="newsTitle">
						热门推荐
					</div>
					<ul>
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div id="content">
		<div class="content-left">
			<div id="img-Top">
				<i class="glyphicon glyphicon-triangle-top"></i>
				<img src="../img/index/3.png" alt="0.0.0" border="0" usemap="#imgTop">
				<map name="imgTop" id="imgTop">
					<area shape="rect" coords="0,0,109,109" href="#">
					<area shape="rect" coords="109,0,225,109" href="#">
					<area shape="rect" coords="225,0,337,109" href="#">
					<area shape="rect" coords="337,0,459,109" href="#">
					<area shape="rect" coords="459,0,541,109" href="#">
					<area shape="rect" coords="541,0,669,109" href="#">
				</map>
			</div>
			<div class="eachlist">
				<div class="a-img">
					<a href="#"><img src="../img/index/5.jpg" alt="0.0.0"></a>
				</div>
				<div class="list-content">
					<div id="triangle"></div>
					<div class="list-name">
						<span>
							<a href="#">运动去吧 </a>
							转载自
							<a href="#"><i class="glyphicon glyphicon-cloud"></i>紫先生</a>
							<abbr title="关注紫先生"><i class="glyphicon glyphicon-fire"></i></abbr>
						</span>
					</div>
					<div class="list-photo">
						<a href="#"><img src="../img/index/6.jpg" alt="0.0.0"></a>
						<span>转载自:<a href="#">紫先生</a></span>
					</div>
					<div class="list-bottom">
						<i class="glyphicon glyphicon-star"></i>
						<span><a href="">我运动中的样子</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span><a href="">健身教练</a></span>
						<ul>
							<li><a href="">热度(7)</a></li>
							<li><a href="">评论(1)</a></li>
							<li><a href="">分享</a></li>
							<li><a href="">推荐</a></li>
							<li><a href=""><i class="glyphicon glyphicon-heart"></i></a></li>
						</ul>
					</div>
				</div>
			</div>			
			<div class="eachlist">
				<div class="a-img">
					<a href="#"><img src="../img/index/5.jpg" alt="0.0.0"></a>
				</div>
				<div class="list-content">
					<div id="triangle"></div>
					<div class="list-name">
						<span>
							<a href="#">运动去吧 </a>
							转载自
							<a href="#"><i class="glyphicon glyphicon-cloud"></i>紫先生</a>
							<abbr title="关注紫先生"><i class="glyphicon glyphicon-fire"></i></abbr>
						</span>
					</div>
					<div class="list-photo">
						<a href="#"><img src="../img/index/7.jpg" alt="0.0.0"></a>
						<span>转载自:<a href="#">紫先生</a></span>
					</div>
					<div class="list-bottom">
						<i class="glyphicon glyphicon-star"></i>
						<span><a href="">我运动中的样子</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span><a href="">健身教练</a></span>
						<ul>
							<li><a href="">热度(7)</a></li>
							<li><a href="">评论(1)</a></li>
							<li><a href="">分享</a></li>
							<li><a href="">推荐</a></li>
							<li><a href=""><i class="glyphicon glyphicon-heart"></i></a></li>
						</ul>
					</div>
				</div>
			</div>			
			<div class="eachlist">
				<div class="a-img">
					<a href="#"><img src="../img/index/5.jpg" alt="0.0.0"></a>
				</div>
				<div class="list-content">
					<div id="triangle"></div>
					<div class="list-name">
						<span>
							<a href="#">运动去吧 </a>
							转载自
							<a href="#"><i class="glyphicon glyphicon-cloud"></i>紫先生</a>
							<abbr title="关注紫先生"><i class="glyphicon glyphicon-fire"></i></abbr>
						</span>
					</div>
					<div class="list-photo">
						<a href="#"><img src="../img/index/6.jpg" alt="0.0.0"></a>
						<span>转载自:<a href="#">紫先生</a></span>
					</div>
					<div class="list-bottom">
						<i class="glyphicon glyphicon-star"></i>
						<span><a href="">我运动中的样子</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span><a href="">健身教练</a></span>
						<ul>
							<li><a href="">热度(7)</a></li>
							<li><a href="">评论(1)</a></li>
							<li><a href="">分享</a></li>
							<li><a href="">推荐</a></li>
							<li><a href=""><i class="glyphicon glyphicon-heart"></i></a></li>
						</ul>
					</div>
				</div>
			</div>			
			<div class="eachlist">
				<div class="a-img">
					<a href="#"><img src="../img/index/5.jpg" alt="0.0.0"></a>
				</div>
				<div class="list-content">
					<div id="triangle"></div>
					<div class="list-name">
						<span>
							<a href="#">运动去吧 </a>
							转载自
							<a href="#"><i class="glyphicon glyphicon-cloud"></i>紫先生</a>
							<abbr title="关注紫先生"><i class="glyphicon glyphicon-fire"></i></abbr>
						</span>
					</div>
					<div class="list-photo">
						<a href="#"><img src="../img/index/6.jpg" alt="0.0.0"></a>
						<span>转载自:<a href="#">紫先生</a></span>
					</div>
					<div class="list-bottom">
						<i class="glyphicon glyphicon-star"></i>
						<span><a href="">我运动中的样子</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span><a href="">健身教练</a></span>
						<ul>
							<li><a href="">热度(7)</a></li>
							<li><a href="">评论(1)</a></li>
							<li><a href="">分享</a></li>
							<li><a href="">推荐</a></li>
							<li><a href=""><i class="glyphicon glyphicon-heart"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="content-right">
			<div class="personal-new">
				<ul>
					<li>
						<a href="#" class="personal-left">
							<div class="personal-ID">Hank</div>
							<div class="personal-name">hank1796.lofter.com</div>
						</a>
						<a href="#" class="personal-right"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
					</li>
					<li class="li-three">
						<a href="">
							<i class="glyphicon glyphicon-th-list"></i>
							文章
						</a>
						<em>0</em>
					</li>					
					<li class="li-three">
						<a href="">
							<i class="glyphicon glyphicon-user"></i>
							关注
						</a>
						<em>21</em>
					</li>					
					<li class="li-three">
						<a href="">
							<i class="glyphicon glyphicon-envelope"></i>
							私信
						</a>
						<em>2</em>
					</li>					
					<li class="li-last">
						<a href="#">
							<i class="glyphicon glyphicon-wrench"></i>
							个人主页设置
						</a>
					</li>

				</ul>
			</div>
			<div id="clear"></div>		
			<div class="special">
				<div class="special-top">
					<a href="#"><img src="../img/index/9.jpg" alt=""></a>
				</div>
				<div class="special-middle">
					<span>以爱情之名的套路</span>
				</div>
				<div class="special-bottom">
					<span><i class="glyphicon glyphicon-th-list"></i>更多专题</span>
				</div>
			</div>
			<div class="photo">
				<span>
					<a href="#">彩色</a>
					<em>44575参与</em>
				</span>
				<div class="four-photo">
					<a href="#"><img src="../img/index/11.jpg" alt=""></a>
					<a href="#"><img src="../img/index/12.jpg" alt=""></a>
					<a href="#"><img src="../img/index/13.jpg" alt=""></a>					
					<a href="#"><img src="../img/index/14.jpg" alt=""></a>
				</div>
				<div class="special-bottom photo_bottom">
					<span><i class="glyphicon glyphicon-th-list"></i>更多话题</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>