<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/photograph.css">
	<script src="../js/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.css">
	<script src="../bootstrap-3.3.7/js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/photograph.js"></script>
</head>
<body>
	<header>
		<div class="header-img">
			<a href="#"><img src="../img/photograph/logo.png" alt="logo"></a>
		</div>
		<p>LOFTER一直关注着优秀的摄影创作群体，希望您能够在这里创作、交流、展示、提高。</p>
		<p>LOFTER与佳能·大影家共同打造了“摄影课堂”这个主题摄影学习空间，您将通过有趣的标签</p>
		<p>不断练习摄影拍摄技巧，在更为轻松愉快的氛围内由浅入深的学习摄影。</p>
		<div class="pos-a-top pos-common">
			<abbr title="返回LOFTER首页">
				<a href="./index.html"><返回LOFTER首页</a>
			</abbr>
		</div>
		<div class="pos-a-bottom pos-common">
			<abbr title="去大影家，查看全部课程">
				<a href="#">去大影家，查看全部课程>></a>
			</abbr>
		</div>
	</header>
	<main>
		<div class="photo-course">
			<span>摄影课堂</span>
			<div class="course-img">
				<a href="#">
					<div class="pic-color"></div>
					<img src="../img/photograph/photograph-course/1.jpg" alt="0.0.0">
					<span>你怎么不上天啊</span>
				</a>			
				<a href="#">
					<div class="pic-color"></div>
					<img src="../img/photograph/photograph-course/2.jpg" alt="0.0.0">
					<span>脚下的另一个世界</span>
				</a>			
				<a href="#">
					<div class="pic-color"></div>
					<img src="../img/photograph/photograph-course/3.jpg" alt="0.0.0">
					<span>焦点之外</span>
				</a>			
				<a href="#">
					<div class="pic-color"></div>
					<img src="../img/photograph/photograph-course/4.jpg" alt="0.0.0">
					<span>只需要一个眼神</span>
				</a>				
				<a href="./coursephoto.html">
					<div class="pic-color"></div>
					<img src="../img/photograph/photograph-course/5.jpg" alt="0.0.0">
					<span>熊孩子日记</span>
				</a>				
				<a href="#">
					<div class="pic-color"></div>
					<img src="../img/photograph/photograph-course/6.jpg" alt="0.0.0">
					<span>身边的外星人</span>
				</a>				
				<a href="#">
					<div class="pic-color"></div>
					<img src="../img/photograph/photograph-course/7.jpg" alt="0.0.0">
					<span>我们都是背影控</span>
				</a>				
				<a href="#">
					<div class="pic-color"></div>
					<img src="../img/photograph/photograph-course/8.jpg" alt="0.0.0">
					<span>雨后的世界</span>
				</a>				
				<a href="#">
					<div class="pic-color"></div>
					<img src="../img/photograph/photograph-course/9.jpg" alt="0.0.0">
					<span>拍着拍着就花痴啦</span>
				</a>				
				<a href="#">
					<div class="pic-color"></div>
					<img src="../img/photograph/photograph-course/10.jpg" alt="0.0.0">
					<span>在路上</span>
				</a>				
			</div>
		</div>
		
		<div class="photo-works">
			<span>优秀作品</span>
			<div class="works-img">
				<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/photograph/photograph-works/1.jpg" alt=""></a>	
				<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/photograph/photograph-works/2.jpg" alt=""></a>	
				<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/photograph/photograph-works/3.jpg" alt=""></a>	
				<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/photograph/photograph-works/4.jpg" alt="" style="height:140px;"></a>	
				<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/photograph/photograph-works/5.jpg" alt=""></a>	
				<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/photograph/photograph-works/6.jpg" alt=""></a>	
				<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/photograph/photograph-works/7.jpg" alt=""></a>			
				<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/photograph/photograph-works/8.jpg" alt=""></a>			
				<a href="#">
				<div class="works-pic-color"></div>
				<img src="../img/photograph/photograph-works/9.jpg" alt="" style="height: 120px;"></a>
				<span>点击查看更多</span>
			</div>
		</div>
	</main>
	<footer>
		<iframe src="./footerOne.html" marginwidth="25" marginheight="0" frameborder="0" width="100%" height="100%" name="photograph"></iframe>
	</footer>
	<div class="content"></div>
</body>
</html>