<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>www.lofter.com/view</title>
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/common.js"></script>
	<link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.css">
	<script src="../bootstrap-3.3.7/js/bootstrap.js"></script>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/view.css">
	<!-- if link bootstrap document firstly, the css document does't work -->
</head>
<body>
	<nav>
		<img src="../img/index/1.png" alt="website-logo">
		<ul class="nav-ul">
			<li><a href="./index.html">首页</a></li>
			<li><a href="./view.html" style="color:white;">浏览</a></li>
			<li><a href="./app.html">APP</a></li>
			<li><a href="./art.html" target="_blank">ART</a></li>
			<li><a href="./photograph.html">摄影课堂</a></li>
		</ul>
		<a href="" class="nav-a-ul A">更多<i class="glyphicon glyphicon-triangle-bottom"></i>
				<ul class="nav-a-ul-second" id="B">
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>账号设置</a></li>
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>寻找好友</a></li>
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>导入导出</a></li>
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>移动客户端</a></li>
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>LOFTCam-用心创造滤镜</a></li>
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>UAPP-创建个人中心</a></li>
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>帮助和反馈</a></li>
				<li><a href=""><i class="glyphicon glyphicon-cog"></i>退出</a></li>
			</ul>
		</a>
		<div class="navRight">
			<form action="">
				<a href="" class="glyphicon glyphicon-search"></a>
				<label for="label-input"></label>
				<input type="text" id="label-input" placeholder="搜索标签，人" size="24">
				<div class="new">new</div>
			</form>
			<div class="triangle glyphicon glyphicon-triangle-top"></div>
			<div class="navRight-form">
				<div class="subscribe-news">
					<div class="newsTitle">
						我的订阅
					</div>
					<ul>
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="recommend-news">
					<div class="newsTitle">
						热门推荐
					</div>
					<ul>
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>						
						<li>
							<a href="">
								<div class="subscribe-title">
									<i class="glyphicon glyphicon-leaf"></i>运动
								</div>
								<div class="subscribe-num">
									265篇新文章
								</div>
							</a>
						</li>
					</ul>
					
				</div>
			</div>
		</div>	
	</nav>
	<main>
		<div class="nav">
			<div class="triangle-view"></div>
			<ul>
				<li><a href="#">趋势</a></li>
				<li><a href="#">话题</a></li>
				<li><a href="#">标签</a></li>
				<li><a href="#">达人</a></li>
				<li><a href="#">专题</a></li>
			</ul>
		</div>
		<div class="view-content">
			<div class="column-1 column-common">
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/1.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>	
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/1.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/3.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/4.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>	
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/5.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>	
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/6.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>	
			</div>
			<div class="column-2 column-common">
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/7.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/8.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>	
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/9.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/10.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/11.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>	
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/12.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>	
				
			</div>
			<div class="column-3 column-common">
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/14.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/15.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/16.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/17.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>	
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/18.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>	
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/19.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>
			</div>
			<div class="column-4 column-common">
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/20.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/21.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/22.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/23.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>	
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/24.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>	
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/25.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>
				<div class="photo">
					<div class="photo-top">
						<img src="../img/view-trend/ph.jpg" alt="">
						<span>Grace J</span>
						<a href="">关注</a>
					</div>
					<div class="photo-middle">
						<img src="../img/view-trend/13.jpg" alt="">
					</div>
					<p>死亡至重生的质变结果:</p>
					<p>顺应自然，尊重自然，从自然中发现艺术</p>
					<div class="photo-bottom">
						<i class="glyphicon glyphicon-heart"></i>
						<em>142人喜欢</em>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>